@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container
{
    position: relative;
    height: 543px;
    text-align: center;
}
.heading
{
    left: 500px;
    top:220px;
    position: absolute;
}
.heading h1
{
    font-weight: bold;
    font-size: 40px;
    color: #1D1111;
    line-height: 1em;
    letter-spacing: -.015em;
    font-family: Montserrat;

}
.heading h1 span
{
    border-bottom: 10px solid #000;
    padding-bottom: 1px;
}
.bg
{
    width: 626px;
    height: 463px;
    position: absolute;
    left: 0;
    margin-left: -105px;
}
.bg img 
{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.bgone 
{
    width: 181px;
    height: 181px;
    left:500px;
    top: 100px;
    position: absolute;
}
.bgone img
{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media screen 
  and (min-device-width: 120px) 
  and (max-device-width: 756px)
  { 
    .container
    {
        height: 400px;
    }
.heading
{
    left: 50px;
    top:220px;
}
.bg
{
    display: none;
}
.bgone
{
    width: 117px;
    height: 113px;
    left: 0;
    top:180px;
}
  }

  @media screen 
  and (min-device-width: 120px) 
  and (max-device-width: 488px)
  {
.heading
{
    margin-top: 10em;
}
.bgone
{
    width: 117px;
    height: 113px;
    left: 0;
    top:350px;
}
  }